/* Reset Css */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html{
  font-size: 62.5%; /* 1rem = 10px */
}

body{
  font-size: 1.6rem;
  margin-top: 50px;
}

ul,ol,dl{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: #000;
}

/* pagination style */
.pagination-wrapper,.pages{
  display: flex;
  justify-content: center;
  gap: 1rem;
}



.page-link{
  padding: 1rem;
  font-size: 18px;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* active page( current page ) */
.page-link.active{
  background-color: rgb(31, 31, 31);
  color: #fff;
  border-radius: 50%;
}

.btn{
  border: 1px solid #aaa;
  background-color: #eee;
  border-radius: 0.8rem;
  transition: all 200ms linear;
}

.btn:hover{
  background-color: #dfdfdf;
}

.prev-page-btn{

}

.next-page-btn{

}



