/* Reset Css */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%; /* 1rem = 10px */
}

body{
  font-size: 1.6rem;
}

.container{
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  border-left: 1px solid red;
  border-right: 1px solid red;
}